@import "normalize";
@import "colors";
@import "ui";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background-color: $main_bg;
  color: $main;
  font-size: 16px;
}

#root {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  &__header {
    padding: 3.125rem 0;
  }
  &__content {
    flex: 1 1 auto;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  &__logo {
  }
}
.content {
  display: flex;
  width: 90%;
  margin: 0 auto;
  &__leftside {
    flex: 0 0 14.5rem;
  }
  &__rightside {
    flex: 1 1 auto;
    margin-left: 1.25rem;
  }
}

.filter {
  padding: 1.25rem 0 0.625rem 0rem;
  &__title {
    text-transform: uppercase;
    padding: 0 1.25rem 0.625rem 1.25rem;
    font-size: 0.75rem;
  }
}

.tabs {
  display: flex;
  margin-bottom: 1.25rem;

  label {
    flex: 1 1 auto;
    &:last-child {
      .tabs__text {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
    &:first-child {
      .tabs__text {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-left: 1px solid $gray;
      }
    }
  }
  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.125rem;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.75rem;
    flex: 1 1 auto;
    border: 1px solid $gray;
    background-color: $white;
    border-left: 0;
  }
  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    border: 0;
    padding: 0;
  }
  .tabs__input:checked + .tabs__text {
    background-color: $blue;
    color: $white;
    border-color: $blue;
  }
  .tabs__input:focus + .tabs__text {
    outline: 1px solid $blue;
  }
}

.ticket {
}
